.Rhistory
.RData

data/consulta_cand_2016_BRASIL.csv
data/consulta_cand_2020_BRASIL.csv
data/eleitorado_local_votacao_2020.csv
data/perfil_eleitorado_2020.csv
data/votacao_candidato_munzona_2016_BRASIL.csv
data/votacao_candidato_munzona_2020_BRASIL.csv
data/votacao_partido_munzona_2020_BRASIL.csv

scripts/analise_juventude.R
scripts/sintese_eleicoes.R
scripts/vereadores_jovens_pt_psol_rede.R
